<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.cmu.scs.fluorite.preferences.Initializer">
      </initializer>
   </extension>

   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.cmu.scs.fluorite.ui.handlers.AnnotateCommandHandler"
            description="Annotate current intention"
            id="edu.cmu.scs.fluorite.annotateCommand"
            name="Annotate Log">
      </command>
      <command
            description="View the last recorded log file in xml format"
            id="edu.cmu.scs.fluorite.actions.viewLastLog"
            name="View Last Log">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.cmu.scs.fluorite.actions.viewLastLog"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+V">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.cmu.scs.fluorite.dialogs.OptionsPage"
            id="edu.cmu.scs.fluorite.optionsPage"
            name="Fluorite">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.cmu.scs.fluorite.plugin.EventLoggerStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="edu.cmu.scs.fluorite.category"
            class="edu.cmu.scs.fluorite.viewpart.IDViewPart"
            id="edu.cmu.scs.fluorite.idview"
            name="Current ID"
            restorable="true">
      </view>
      <category
            id="edu.cmu.scs.fluorite.category"
            name="Fluorite">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="edu.cmu.scs.fluorite.toolbar1"
               label="Fluorite Toolbar">
            <command
                  commandId="edu.cmu.scs.fluorite.annotateCommand"
                  icon="icons/annotation.png"
                  style="push"
                  tooltip="Add an annotation to describe the current backtracking intention">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="Fluorite Menu"
               label="Fluorite"
               mnemonic="l">
            <command
                  commandId="edu.cmu.scs.fluorite.annotateCommand"
                  icon="icons/annotation.png"
                  style="push"
                  tooltip="Add an annotation to describe the current backtracking intention">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="edu.cmu.scs.fluorite.annotateCommand"
            icon="icons/annotation.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.cmu.scs.fluorite.annotateCommand">
      </handler>
   </extension>


</plugin>
